.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
}

.contCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.contCarrito p{
    font-weight: bold;
    color: white;
    padding-bottom: 2px;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-right: 3px;
}

.contCarrito svg{
    color: white;
}


.contItems{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 100%;
}

.titulo{
    margin-left: 20px;  
    color: white; 
}

.items{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.items a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.items a{
    text-decoration: none;
    color: white
}