.contItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.titulo{
    margin-left: 20px;  
    color: white; 
}

.items{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.items a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.items a{
    text-decoration: none;
    color: white
}